<template>
  <v-container fluid>
    <v-card flat>
      <v-row>
        <v-col cols="12" md="10" lg="6">
          <v-list>
            <v-subheader>Favor preencher todas as EPI's abaixo:</v-subheader>
            <v-list-item v-for="item in listEpi" :key="item.id">
              <v-list-item-content>
                <v-checkbox
                  hide-details
                  color="red darken-3"
                  :label="item.text"
                  :value="item.id"
                  v-model="episelect"
                />
              </v-list-item-content>
            </v-list-item>
          </v-list>
        </v-col>
      </v-row>
    </v-card>
    <v-footer app inset>
      <v-btn
        @click="confirmEpi()"
        block
        dark
        color="red darken-3"
        :loading="isLoading"
      >
        Continuar
      </v-btn>
    </v-footer>
  </v-container>
</template>

<script>
export default {
  data() {
    return {
      episelect: [],
      isLoading: false,
      listEpi: [
        {
          id: 1,
          text: 'Uso de Capacete'
        },
        {
          id: 2,
          text: 'Uso de Calçado Fechado'
        },
        {
          id: 3,
          text: 'Uso de Roupa adequada'
        },
        {
          id: 4,
          text: 'Uso de Óculos'
        },
        {
          id: 5,
          text: 'Desligar motores'
        },
        {
          id: 6,
          text: 'Verificar se há vazamento'
        },
        {
          id: 7,
          text: 'Verificar se está fora da tomada'
        },
        {
          id: 8,
          text: 'Uso de luvas'
        },
      ]
    }
  },

  methods: {
    confirmEpi() {
      this.isLoading = true;
      setTimeout(() => {
        this.isLoading = false;
        this.$router.push(`/order/${this.$route.params.id}`)
      }, 1000)
    }
  },
}
</script>

<style>

</style>