<template>
  <v-container fluid>
    <summary-page v-if="activeBtn === 0" />
    <tool-page v-if="activeBtn === 1" />
    <history-page v-if="activeBtn === 2" />
    <v-bottom-navigation
      color="red"
      app
      v-model="activeBtn"
      grow
    >
      <v-btn>
        <span>Resumo</span>
        <v-icon>mdi-clipboard-text-outline</v-icon>
      </v-btn>

      <v-btn>
        <span>Ferramentas</span>
        <v-icon>mdi-tools</v-icon>
      </v-btn>

      <v-btn>
        <span>Histórico</span>
        <v-icon>mdi-history</v-icon>
      </v-btn>
    </v-bottom-navigation>
  </v-container>
</template>

<script>
import SummaryPage from '../components/Order_Page/Summary';
import ToolPage from '../components/Order_Page/Tool';
import HistoryPage from '../components/Order_Page/History';

export default {
  components: {
    SummaryPage,
    ToolPage,
    HistoryPage,
  },

  data() {
    return {
      activeBtn: 0,
    }
  }
}
</script>

<style>

</style>
