<template>
  <v-row>
    <v-col cols="12">
      <v-list one-line subheader flat>
        <v-list-item v-for='item in getListFilter' :key='item.title' @click='openOrder(item.id)'>
          <v-list-item-avatar class='mt-0 mr-1'>
            <v-icon :class='getIconClass(item.priority)'/>
          </v-list-item-avatar>

          <v-list-item-content>
            <v-list-item-title v-text='item.title'></v-list-item-title>
            <v-list-item-subtitle v-html='getOrderType(item.type_om)'></v-list-item-subtitle>
            <v-list-item-subtitle v-text='item.sector'></v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-action>
            <v-btn icon>
              <v-icon color='grey lighten-1'>mdi-arrow-right</v-icon>
            </v-btn>
          </v-list-item-action>
        </v-list-item>
      </v-list>
      <v-overlay :value="loadingPage">
        <v-progress-circular indeterminate size="64"></v-progress-circular>
      </v-overlay>
    </v-col>
    <v-bottom-sheet v-model="showAlert">
      <v-sheet inset class="text-center" height="150px">
        <div class="py-1">{{ message.text }}</div>
        <v-btn
          class="mt-6"
          dark
          outlined
          color="red"
          @click="getAllOrderList()"
        >
          Tentar Novamente
        </v-btn>
      </v-sheet>
    </v-bottom-sheet>
  </v-row>
</template>

<script>
import { get } from '../utils/http.js';

export default {
  data() {
    return {
      loadingPage: false,
      showAlert: false,
      list: [],
      status: 0,
      message: {
        type: '',
        text: '',
        showReloadPage: false,
      }
    }
  },

  mounted() {
    this.getAllOrderList();
  },

  computed: {
    getListFilter() {
      if (this.$store.state.list.searchFilter !== '') return this.list.filter(i => i.titulo.includes(this.$store.state.list.searchFilter));
      if (this.$store.state.list.filterStatus === 0) return this.list;
      return this.list.filter(i => i.status === this.$store.state.list.filterStatus);

    },
  },

  methods: {
    getOrderType(type) {
      return `Tipo de Manutenção: <b>${type}</b>`;
    },

    getIconClass(priority) {
      if (priority === 1) return 'blue'; 
      if (priority === 2) return 'yellow'; 
      if (priority === 3) return 'red'; 
    },

    async getAllOrderList() {
      this.showAlert = false;
      this.loadingPage = true;
      this.message.text = '';
      
      get({ url: `${this.$host}:${this.$port}/api/Order_maintenance` }).then(res => {
        this.list = res.data;
        this.loadingPage = false;
      }).catch(err => {
        this.loadingPage = false;
        this.message.text = 'Ocorreu um erro ao obter informações...';
        this.showAlert = true;
      })
    },

    openOrder(idOrder) {
      this.$router.push(`/epi/${idOrder}`);
    }
  }
}
</script>

<style>
  .v-icon {
    width: 20px !important;
    height: 20px !important;
  }
</style>
