<template>
  <div>
    <v-row justify="center">
      <v-col cols="12" md="10" lg="6">
        Histórico
      </v-col>
    </v-row>
    <v-overlay :value="loadingPage">
      <v-progress-circular indeterminate size="64"></v-progress-circular>
    </v-overlay>
  </div>
</template>

<script>
export default {
  name: 'summary',
  data() {
    return {
      loadingPage: false,
      fab: false,
    }
  },
  mounted() {

  }
}
</script>

<style>

</style>
