<template>
  <div>
    <v-row justify="center">
      <v-col cols="12" md="10" lg="6">
        <v-card>
          <v-card-text>
            <div><b>Título:</b> {{ summary.title }}</div>
            <div><b>Equipamento:</b> {{ summary.equipment }}</div>
            <div><b>Tipo de Manutenção:</b> {{ summary.type }}</div>
            <div><b>Código ABC:</b> {{ summary.abcCode }}</div>
            <div><b>Requer Parada:</b> {{ summary.requiresStop === true ? 'SIM' : 'NÃO' }}</div>
            <v-divider class="my-3" />
            <div><b>Início Planejado:</b> {{ summary.plannedStart }}</div>
            <div><b>Fim Planejado:</b> {{ summary.plannedEnd }}</div>
            <div><b>Início Programado:</b> {{ summary.scheduledStart }}</div>
            <div><b>Fim Programado:</b> {{ summary.scheduledEnd }}</div>
            <div><b>Status da Ordem:</b> {{ summary.state }}</div>
            <div><b>Prioridade:</b> {{ getPriority(summary.priority) }}</div>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
    <v-speed-dial
      v-model="fab"
      fab
      dark
      fixed
      right
      class="speedDial"
      direction="left"
      transition="slide-y-reverse-transition"
    >
      <v-icon dark>mdi-close</v-icon>
      <template v-slot:activator>
        <v-btn
          v-model="fab"
          color="red darken-3"
          dark
          fab
        >
          <v-icon v-if="fab">mdi-close</v-icon>
          <v-icon v-else>mdi-plus</v-icon>
        </v-btn>
      </template>
      <v-btn
        fab
        dark
        small
        color="red"
      >
        <v-icon>mdi-close</v-icon>
      </v-btn>
      <v-btn
        fab
        dark
        small
        color="green"
      >
        <v-icon>mdi-check</v-icon>
      </v-btn>
      <v-btn
        fab
        dark
        small
        color="primary"
        @click="dialogSendOrder = !dialogSendOrder"
      >
        <v-icon>mdi-file-send-outline</v-icon>
      </v-btn>
    </v-speed-dial>
    <v-dialog
      v-model="dialogSendOrder"
      max-width="290"
    >
      <v-card>
        <v-card-title class="headline">Atribuir ordem para: </v-card-title>

        <v-card-text>
          <v-autocomplete
            label="Manutentores"
            :items="users"
          />
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            dark
            outlined
            color="red darken-1"
            @click="dialogSendOrder = false"
          >
            Cancelar
          </v-btn>

          <v-btn
            dark
            outlined
            color="green darken-1"
            @click="dialogSendOrder = false"
          >
            Salvar
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-overlay :value="loadingPage">
      <v-progress-circular indeterminate size="64"></v-progress-circular>
    </v-overlay>
  </div>
</template>

<script>
import { get } from '../../utils/http.js';

export default {
  name: 'summary',
  data() {
    return {
       fab: false,
       loadingPage: false,
       summary: { },
       dialogSendOrder: false,
       users: ['Richard Kanigoski', 'Iago Soares'],
    }
  },

  mounted() {
    this.getSummary();
  },

  methods: {
    getSummary() {
      const id = this.$route.params.id;
      this.loadingPage = true;
      get({ url: `${this.$host}:${this.$port}/api/Order_maintenance/${id}` }).then(res => {
        this.summary = res.data[0];
        this.loadingPage = false;
      }).catch(err => {
        this.loadingPage = false;
      })
    },

    getPriority(priority) {
      if (priority === 1) return 'Baixa'; 
      if (priority === 2) return 'Média'; 
      if (priority === 3) return 'Alta';
    }
  }
}
</script>

<style>
  .speedDial {
    bottom: 75px;
  }
</style>
