<template>
  <div>
    <v-row justify="center">
      <v-col cols="12" md="10" lg="6">
        <v-card>
          <v-list>
            <v-list-item-group color="primary" v-for="tool in listTool">
              <v-list-item>
                <v-list-item-content>
                  <v-list-item-title>Operador: {{ tool.userName }}</v-list-item-title>
                  <v-list-item-subtitle>{{ tool.qtde }}x {{ tool.toolName }}</v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
              <v-divider/>
            </v-list-item-group>
          </v-list>
        </v-card>
      </v-col>
    </v-row>
    <v-speed-dial
      fab
      dark
      absolute
      right
      bottom
    >
      <v-icon dark>mdi-close</v-icon>
      <template v-slot:activator>
        <v-btn
          color="red darken-3"
          dark
          fab
          @click.stop="dialog = true"
        >
          <v-icon>mdi-plus</v-icon>
        </v-btn>
      </template>
    </v-speed-dial>
    <v-dialog v-model="dialog" persistent max-width="700px">
      <v-card>
        <v-card-title>
          <span class="headline">Cadastrar Ferramentas</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-form
              ref="form"
              v-model="valid"
              :lazy-validation="lazy"
            >
              <v-row>
                <v-col cols="12" sm="12" md="12" v-if="!newTool">
                  <v-autocomplete
                    label="Ferramenta"
                    :items="listToolDefault"
                    v-model="toolDefault"
                  />
                </v-col>
                <v-col cols="12" sm="6" md="6">
                  <v-text-field
                    type="number"
                    label="Quantidade"
                    v-model="qtde"
                    :rules="qtdeRules"
                    item-text="text"
                  />
                </v-col>
              </v-row>
            </v-form>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="red darken-1" outlined @click="dialog = false" :disabled="isLoading">Fechar</v-btn>
          <v-btn color="blue darken-1" outlined @click="saveNewTool()" :loading="isLoading">Salvar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-overlay :value="loadingPage">
      <v-progress-circular indeterminate size="64"></v-progress-circular>
    </v-overlay>
    <v-bottom-sheet v-model="sheet">
      <v-sheet class="text-center" height="200px">
        <v-btn
          class="mt-6"
          text
          color="red"
          @click="sheet = !sheet"
        >Fechar</v-btn>
        <div class="py-3">{{ errorMessage }}</div>
      </v-sheet>
    </v-bottom-sheet>
  </div>
</template>

<script>
export default {
  name: 'summary',
  data() {
    return {
      errorMessage: '',
      sheet: false,
      newTool: false,
      valid: true,
      lazy: false,
      dialog: false,
      isLoading: false,
      toolDefault: null,
      loadingPage: false,
      toolName: '',
      qtde: '',
      listTool: [
        {
          userName: 'Richard Kanigoski',
          qtde: 2,
          toolName: 'Parafuso',
        }
      ],
      qtdeRules: [v => !!v || 'Quantidade é Obrigatória!', v => v !== '0' || 'Quantidade não pode ser 0 (zero)'],
      listToolDefault: ['Ferramenta 1', 'Ferramenta 2', 'Ferramenta 3'],
    }
  },
  mounted() {
    this.getToolsList();
  },

  methods: {
    saveNewTool() {
      if (this.$refs.form.validate()) {
        this.isLoading = true;
        this.listTool.push({
          userName: 'Richard Kanigoski',
          qtde: this.qtde,
          toolName: this.toolName || this.toolDefault,
        });
        // this.dialog = false;
        this.errorMessage = 'Ocorreu um erro ao cadastrar ferramenta!';
        this.sheet = !this.sheet;
        this.isLoading = false;
      }
    },

    getToolsList() {
      
    }
  }
}
</script>

<style>

</style>
