<template>
  <div>
    <v-form
      ref="form"
      v-model="valid"
      :lazy-validation="lazy"
    >
      <v-text-field
        v-model="title"
        :rules="titleRules"
        label="Título"
        required
      />
      <v-text-field
        v-model="orderNumber"
        type="number"
        :rules="orderNumberRules"
        label="Número da Ordem"
        required
      />
      <v-select
        v-model="sector"
        :items="sectorItems"
        :rules="[v => !!v || 'Setor é Obrigatório']"
        label="Setor"
        required
      />
      <v-select
        v-model="type"
        :items="typeItems"
        :rules="[v => !!v || 'Tipo de Manutenção é Obrigatório']"
        label="Tipo de Manutenção"
        required
      />
      <v-select
        v-model="equipment"
        :items="equipmentsItems"
        :rules="[v => !!v || 'Equipamento é Obrigatório']"
        label="Equipamento"
        required
      />
      <v-select
        v-model="priority"
        :items="priorityItems"
        :rules="[v => !!v || 'Prioridade é Obrigatório']"
        label="Prioridade"
        required
      />
      <v-select
        v-model="requiresStop"
        :items="requiresStopItems"
        :rules="[v => v !== null || 'Requer Parada é Obrigatório']"
        label="Requer Parada"
        required
      />
      <v-text-field
        v-model="abcCode"
        :rules="abcCodeRules"
        label="Código ABC"
        required
      />
      <v-text-field
        v-model="orderResponse"
        :rules="orderResponseRules"
        label="Responsável pela Ordem"
        required
      />
      <v-menu
        v-model="plannedStartPicker"
        :close-on-content-click="false"
        max-width="290"
      >
        <template v-slot:activator="{ on }">
          <v-text-field
            :value="formatDate(plannedStart)"
            clearable
            label="Data Início Planejada"
            readonly
            v-on="on"
          />
        </template>
        <v-date-picker
          v-model="plannedStart"
          @change="plannedStartPicker = false"
        />
      </v-menu>
      <v-menu
        v-model="plannedEndPicker"
        :close-on-content-click="false"
        max-width="290"
      >
        <template v-slot:activator="{ on }">
          <v-text-field
            :value="formatDate(plannedEnd)"
            clearable
            label="Data Fim Planejada"
            readonly
            v-on="on"
          />
        </template>
        <v-date-picker
          v-model="scheduledStart"
          @change="scheduledStartPicker = false"
        />
      </v-menu>
      <v-menu
        v-model="scheduledStartPicker"
        :close-on-content-click="false"
        max-width="290"
      >
        <template v-slot:activator="{ on }">
          <v-text-field
            :value="formatDate(scheduledStart)"
            clearable
            label="Data Início Programado"
            readonly
            v-on="on"
          />
        </template>
        <v-date-picker
          v-model="scheduledStart"
          @change="scheduledStartPicker = false"
        />
      </v-menu>
      <v-menu
        v-model="scheduledEndPicker"
        :close-on-content-click="false"
        max-width="290"
      >
        <template v-slot:activator="{ on }">
          <v-text-field
            :value="formatDate(scheduledEnd)"
            clearable
            label="Data Fim Programado"
            readonly
            v-on="on"
          />
        </template>
        <v-date-picker
          v-model="scheduledEnd"
          @change="scheduledEndPicker = false"
        />
      </v-menu>
        <v-btn
          :disabled="!valid"
          color="success"
          class="mr-4"
          @click="validate"
        >
          Cadastrar
        </v-btn>
      </v-form>
      <v-overlay :value="loadingPage">
        <v-progress-circular indeterminate size="64"></v-progress-circular>
      </v-overlay>
      <v-bottom-sheet v-model="showAlert">
        <v-sheet inset class="text-center" height="150px">
          <div class="py-1">Ocorreu um erro ao se comunicar com o banco!</div>
          <v-btn
            class="mt-6"
            dark
            outlined
            color="red"
            @click="showAlert = !showAlert"
          >
            Fechar
          </v-btn>
        </v-sheet>
      </v-bottom-sheet>
    </div>
</template>

<script>
  import { get, post, put } from '../../utils/http.js';
  import moment from 'moment'

  export default {
    data: () => ({
      loadingPage: false,
      showAlert: false,
      valid: true,
      title: '',
      titleRules: [
        v => !!v || 'Título é Obrigatório',
      ],
      orderNumber: null,
      orderNumberRules: [
        v => !!v || 'Número da Ordem é Obrigatório',
      ],
      type: null,
      typeItems: [],
      priority: null,
      priorityItems: [
        { value: 1, text: 'Baixa' },
        { value: 2, text: 'Média' },
        { value: 3, text: 'Alta' },
      ],
      requiresStop: null,
      requiresStopItems: [
        { value: true, text: 'SIM' },
        { value: false, text: 'NÃO' },
      ],
      sector: null,
      sectorItems: [],
      equipment: null,
      equipmentsItems: [],
      abcCode: null,
      abcCodeRules: [
        v => !!v || 'Código ABC é Obrigatório',
      ],
      orderResponse: null,
      orderResponseRules: [
        v => !!v || 'Responsável pela Ordem é Obrigatório',
      ],
      plannedStart: new Date().toISOString().substr(0, 10),
      plannedStartPicker: false,

      plannedEnd: new Date().toISOString().substr(0, 10),
      plannedEndPicker: false,

      scheduledStart: new Date().toISOString().substr(0, 10),
      scheduledStartPicker: false,

      scheduledEnd: new Date().toISOString().substr(0, 10),
      scheduledEndPicker: false,

      checkbox: false,
      lazy: false,
    }),

    mounted() {
      this.getAllSector();
      this.getAllMaintenance();
      this.getAllEquipments();
    },

    methods: {
      validate() {
        if (this.$refs.form.validate()) {
          post({
            url: `${this.$host}:${this.$port}/api/Order_maintenance`,
            body: {
              abcCode: this.abcCode,
              equipment_id: this.equipment,
              orderNumber: this.orderNumber,
              orderResponse: this.orderResponse,
              plannedEnd: this.plannedEnd,
              plannedStart: this.plannedStart,
              priority: this.priority,
              requiresStop: this.requiresStop,
              scheduledEnd: this.scheduledEnd,
              scheduledStart: this.scheduledStart,
              sector_id: this.sector,
              state: 1,
              title: this.title,
              type_om_id: this.type,
            },
          }).then(res => {
            this.loadingPage = false;
            this.reset();
          }).catch(err => {
            this.loadingPage = false;
            this.showAlert = true;
          });
        }
      },

      reset() {
        this.$refs.form.reset()
      },

      getAllSector() {
        this.loadingPage = true;
        get({ url: `${this.$host}:${this.$port}/api/sectors` }).then(res => {
          res.data.map(i => {
            this.sectorItems.push({ value: i.id, text: i.name });
          });
          this.loadingPage = false;
        }).catch(err => {
          this.loadingPage = false;
          this.showAlert = true;
        });
      },

      getAllMaintenance() {
        this.loadingPage = true;
        get({ url: `${this.$host}:${this.$port}/api/maintenance_type` }).then(res => {
          res.data.map(i => {
            this.typeItems.push({ value: i.id, text: i.description });
          });
          this.loadingPage = false;
        }).catch(err => {
          this.loadingPage = false;
          this.showAlert = true;
        });
      },

      getAllEquipments() {
        this.loadingPage = true;
        get({ url: `${this.$host}:${this.$port}/api/equipments` }).then(res => {
          res.data.map(i => {
            this.equipmentsItems.push({ value: i.id, text: i.name });
          });
          this.loadingPage = false;
        }).catch(err => {
          this.loadingPage = false;
          this.showAlert = true;
        });
      },

      formatDate(date) {
        const [year, month, day] = date.split('-');

        return `${day}/${month}/${year}`;
      }
    },
  }
</script>

<style>

</style>